interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/settings?per_page=5&page=1
  response:
    body:
      string: '{"data":{"email":"support@ukfast.co.uk","nameservers":[{"name":"ns0.ukfast.net","ip":"185.226.220.128"},{"name":"ns1.ukfast.net","ip":"185.226.221.128"}],"custom_base_ns_allowed":false,"custom_axfr":{"allowed":false,"name":[],"ip":[]},"delegation_allowed":false,"product":"Free"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/settings?per_page=5&page=1
  response:
    body:
      string: '{"data":{"email":"support@ukfast.co.uk","nameservers":[{"name":"ns0.ukfast.net","ip":"185.226.220.128"},{"name":"ns1.ukfast.net","ip":"185.226.221.128"}],"custom_base_ns_allowed":false,"custom_axfr":{"allowed":false,"name":[],"ip":[]},"delegation_allowed":false,"product":"Free"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
