interactions:
- request:
    body: '{"name": "okbrqvvbeq.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones
  response:
    body:
      string: '{"data":{"name":"okbrqvvbeq.com"},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com?per_page=5&page=1
  response:
    body:
      string: '{"data":{"name":"okbrqvvbeq.com","description":""},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "okbrqvvbeq.com", "default": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/templates
  response:
    body:
      string: '{"data":{"id":12002},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/templates\/12002"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12002?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":12002,"name":"okbrqvvbeq.com","default":false,"created_at":"2021-01-25"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12002?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":12002,"name":"okbrqvvbeq.com","default":false,"created_at":"2021-01-25"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
