interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates?per_page=50&page=1
  response:
    body:
      string: '{"data":[],"meta":{"pagination":{"total":0,"count":0,"per_page":50,"current_page":0,"total_pages":0,"links":{"first":"https:\/\/api.ukfast.io\/safedns\/v1\/templates?per_page=50&page=1","previous":null,"next":null,"last":"https:\/\/api.ukfast.io\/safedns\/v1\/templates?per_page=50&page=1"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "okbrqvvbeq.com", "default": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/templates
  response:
    body:
      string: '{"data":{"id":12015},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/templates\/12015"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12015?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":12015,"name":"okbrqvvbeq.com","default":false,"created_at":"2021-01-25"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates?per_page=50&page=1
  response:
    body:
      string: '{"data":[{"id":12015,"name":"okbrqvvbeq.com","default":false,"created_at":"2021-01-25"},{"id":12016,"name":"ysricezcuj.com","default":false,"created_at":"2021-01-25"},{"id":12017,"name":"wkuddzatav.com","default":false,"created_at":"2021-01-25"},{"id":12018,"name":"offmhoiwfs.com","default":false,"created_at":"2021-01-25"},{"id":12019,"name":"gkfulmmers.com","default":false,"created_at":"2021-01-25"},{"id":12020,"name":"yasrywmquh.com","default":false,"created_at":"2021-01-25"},{"id":12021,"name":"pbdlkpidjs.com","default":false,"created_at":"2021-01-25"},{"id":12022,"name":"jxunfsihnv.com","default":false,"created_at":"2021-01-25"},{"id":12023,"name":"xzghgrrltj.com","default":false,"created_at":"2021-01-25"},{"id":12024,"name":"vytmqjezzk.com","default":false,"created_at":"2021-01-25"}],"meta":{"pagination":{"total":10,"count":10,"per_page":50,"current_page":1,"total_pages":1,"links":{"first":"https:\/\/api.ukfast.io\/safedns\/v1\/templates?per_page=50&page=1","previous":null,"next":null,"last":"https:\/\/api.ukfast.io\/safedns\/v1\/templates?per_page=50&page=1"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
