interactions:
- request:
    body: '{"name": "mytestzone.com", "description": "description"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones
  response:
    body:
      string: '{"data":{"name":"mytestzone.com"},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/mytestzone.com"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/mytestzone.com?per_page=5&page=1
  response:
    body:
      string: '{"data":{"name":"mytestzone.com","description":"description"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/mytestzone.com?per_page=5&page=1
  response:
    body:
      string: '{"data":{"name":"mytestzone.com","description":"description"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
