interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/notes?per_page=50&page=1
  response:
    body:
      string: '{"data":[{"id":4667039,"contact_id":0,"notes":"DNS Zone created via
        API - okbrqvvbeq.com","created_at":"2021-01-25T16:43:39+00:00","ip":"78.137.119.4"},{"id":4667040,"contact_id":0,"notes":"NS
        record created via API - okbrqvvbeq.com | ns0.ukfast.net","created_at":"2021-01-25T16:43:40+00:00","ip":"78.137.119.4"},{"id":4667041,"contact_id":0,"notes":"NS
        record created via API - okbrqvvbeq.com | ns1.ukfast.net","created_at":"2021-01-25T16:43:40+00:00","ip":"78.137.119.4"},{"id":4667042,"contact_id":0,"notes":"SOA
        record created via API - okbrqvvbeq.com | ns0.ukfast.net support.ukfast.co.uk
        2021012501 7200 3600 604800 86400","created_at":"2021-01-25T16:43:40+00:00","ip":"78.137.119.4"}],"meta":{"pagination":{"total":4,"count":4,"per_page":50,"current_page":1,"total_pages":1,"links":{"first":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com\/notes?per_page=50&page=1","previous":null,"next":null,"last":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com\/notes?per_page=50&page=1"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
