interactions:
- request:
    body: '{"contact_id": 1, "notes": "this is a test note"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/notes
  response:
    body:
      string: '{"data":{"id":4667025},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com\/notes\/4667025"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/notes/4667025?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":4667025,"contact_id":1,"notes":"this is a test note","created_at":"2021-01-25T16:43:36+00:00","ip":"78.137.119.4"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
