interactions:
- request:
    body: '{"name": "okbrqvvbeq.com", "default": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/templates
  response:
    body:
      string: '{"data":{"id":12002},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/templates\/12002"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12002?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":12002,"name":"okbrqvvbeq.com","default":false,"created_at":"2021-01-25"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "okbrqvvbeq.com", "default": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/templates
  response:
    body:
      string: '{"errors":[{"title":"Validation Error","detail":"A Template with that
        name already exists","status":422,"source":"name"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
version: 1
