interactions:
- request:
    body: '{"name": "okbrqvvbeq.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones
  response:
    body:
      string: '{"data":{"name":"okbrqvvbeq.com"},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com?per_page=5&page=1
  response:
    body:
      string: '{"data":{"name":"okbrqvvbeq.com","description":""},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"contact_id": 0, "notes": "note"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/notes
  response:
    body:
      string: '{"data":{"id":4666957},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com\/notes\/4666957"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/notes/4666957?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":4666957,"contact_id":0,"notes":"note","created_at":"2021-01-25T16:43:25+00:00","ip":"78.137.119.4"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/notes?per_page=50&page=1
  response:
    body:
      string: '{"data":[{"id":4666953,"contact_id":0,"notes":"DNS Zone created via
        API - okbrqvvbeq.com","created_at":"2021-01-25T16:43:25+00:00","ip":"78.137.119.4"},{"id":4666954,"contact_id":0,"notes":"NS
        record created via API - okbrqvvbeq.com | ns0.ukfast.net","created[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/notes?per_page=50&page=2
  response:
    body:
      string: '{"data":[{"id":4667004,"contact_id":0,"notes":"note","created_at":"2021-01-25T16:43:31+00:00","ip":"78.137.119.4"},{"id":4667005,"contact_id":0,"notes":"note","created_at":"2021-01-25T16:43:31+00:00","ip":"78.137.119.4"},{"id":4667006,"contact_id":0,"notes":"note","created_at":"2021-01-25T16:43:32+00:00","ip":"78.137.119.4"},{"id":4667007,"contact_id":0,"notes":"note","created_at":"2021-01-25T16:43:32+00:00","ip":"78.137.119.4"}],"meta":{"pagination":{"total":54,"count":4,"per_page":50,"current_page":2,"total_pages":2,"links":{"first":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com\/notes?per_page=50&page=1","previous":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com\/notes?per_page=50&page=1","next":null,"last":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com\/notes?per_page=50&page=2"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
