interactions:
- request:
    body: '{"name": "test.okbrqvvbeq.com", "type": "MX", "content": "mx1.okbrqvvbeq.com",
      "ttl": 86400, "priority": 30}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/records
  response:
    body:
      string: '{"data":{"id":4871162},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com\/records\/4871162"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/records/4871162?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":4871162,"zone":"okbrqvvbeq.com","name":"test.okbrqvvbeq.com","type":"MX","content":"mx1.okbrqvvbeq.com","updated_at":"2021-01-25T16:44:09+00:00","ttl":86400,"priority":30},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/records/4871162
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '{"name": "test.okbrqvvbeq.com", "type": "MX", "content": "mx1.okbrqvvbeq.com",
      "ttl": 86400, "priority": 30}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/templates/12002/records
  response:
    body:
      string: '{"data":{"id":27573},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/templates\/12002\/records\/27573"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12002/records/27573?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":27573,"name":"test.okbrqvvbeq.com","type":"MX","content":"mx1.okbrqvvbeq.com","created_at":"2021-01-25","ttl":86400,"priority":30},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.ukfast.io/safedns/v1/templates/12002/records/27573
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
