interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/records/0?per_page=5&page=1
  response:
    body:
      string: '{"errors":[{"title":"Record Not Found","detail":"Record ID: ''0'' not
        found","status":404,"source":"record_id"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/records/abc?per_page=5&page=1
  response:
    body:
      string: '{"errors":[{"title":"Validation Error","detail":"The record id must
        be an integer","status":422,"source":"record_id"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12002/records/0?per_page=5&page=1
  response:
    body:
      string: '{"errors":[{"title":"Template Record Not Found","detail":"Template
        Record ID: ''0'' not found","status":404,"source":"template_record_id"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12002/records/abc?per_page=5&page=1
  response:
    body:
      string: '{"errors":[{"title":"Validation Error","detail":"The record id must
        be an integer","status":422,"source":"record_id"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
version: 1
