interactions:
- request:
    body: '{"name": "okbrqvvbeq.com", "default": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/templates
  response:
    body:
      string: '{"data":{"id":12014},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/templates\/12014"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12014?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":12014,"name":"okbrqvvbeq.com","default":false,"created_at":"2021-01-25"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.ukfast.io/safedns/v1/templates/12014
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
