interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones?per_page=50&page=1
  response:
    body:
      string: '{"data":[],"meta":{"pagination":{"total":0,"count":0,"per_page":50,"current_page":0,"total_pages":0,"links":{"first":"https:\/\/api.ukfast.io\/safedns\/v1\/zones?per_page=50&page=1","previous":null,"next":null,"last":"https:\/\/api.ukfast.io\/safedns\/v1\/zones?per_page=50&page=1"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "okbrqvvbeq.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones
  response:
    body:
      string: '{"data":{"name":"okbrqvvbeq.com"},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com?per_page=5&page=1
  response:
    body:
      string: '{"data":{"name":"okbrqvvbeq.com","description":""},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/ysricezcuj.com?per_page=5&page=1
  response:
    body:
      string: '{"data":{"name":"ysricezcuj.com","description":""},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/wkuddzatav.com?per_page=5&page=1
  response:
    body:
      string: '{"data":{"name":"wkuddzatav.com","description":""},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/offmhoiwfs.com?per_page=5&page=1
  response:
    body:
      string: '{"data":{"name":"offmhoiwfs.com","description":""},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/gkfulmmers.com?per_page=5&page=1
  response:
    body:
      string: '{"data":{"name":"gkfulmmers.com","description":""},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones?per_page=5&page=1
  response:
    body:
      string: '{"data":[{"name":"okbrqvvbeq.com","description":""},{"name":"ysricezcuj.com","description":""},{"name":"wkuddzatav.com","description":""},{"name":"offmhoiwfs.com","description":""},{"name":"gkfulmmers.com","description":""}],"meta":{"pagination":{"total":5,"count":5,"per_page":5,"current_page":1,"total_pages":1,"links":{"first":"https:\/\/api.ukfast.io\/safedns\/v1\/zones?per_page=5&page=1","previous":null,"next":null,"last":"https:\/\/api.ukfast.io\/safedns\/v1\/zones?per_page=5&page=1"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
