interactions:
- request:
    body: '{"name": "lskyzzkxde.com", "default": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/templates
  response:
    body:
      string: '{"data":{"id":12002},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/templates\/12002"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12002?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":12002,"name":"lskyzzkxde.com","default":true,"created_at":"2021-01-25"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
