interactions:
- request:
    body: '{"name": "test.okbrqvvbeq.com", "type": "MX", "content": "mx1.okbrqvvbeq.com",
      "ttl": 86400, "priority": 30}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/records
  response:
    body:
      string: '{"data":{"id":4871154},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com\/records\/4871154"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/records/4871154?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":4871154,"zone":"okbrqvvbeq.com","name":"test.okbrqvvbeq.com","type":"MX","content":"mx1.okbrqvvbeq.com","updated_at":"2021-01-25T16:43:56+00:00","ttl":86400,"priority":30},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 4871154, "zone": "okbrqvvbeq.com", "name": "test2.okbrqvvbeq.com",
      "type": "MX", "content": "mx2test.okbrqvvbeq.com", "updated_at": "2021-01-25T16:43:56+00:00",
      "ttl": 86300, "priority": 20}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.ukfast.io/safedns/v1/zones/okbrqvvbeq.com/records/4871154
  response:
    body:
      string: '{"data":{"id":4871154},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/okbrqvvbeq.com\/records\/4871154"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test.okbrqvvbeq.com", "type": "MX", "content": "mx1.okbrqvvbeq.com",
      "ttl": 86400, "priority": 30}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/templates/12002/records
  response:
    body:
      string: '{"data":{"id":27565},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/templates\/12002\/records\/27565"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12002/records/27565?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":27565,"name":"test.okbrqvvbeq.com","type":"MX","content":"mx1.okbrqvvbeq.com","created_at":"2021-01-25","ttl":86400,"priority":30},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 27565, "name": "test2.okbrqvvbeq.com", "type": "MX", "content":
      "mx2test.okbrqvvbeq.com", "created_at": "2021-01-25", "ttl": 86300, "priority":
      20}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.ukfast.io/safedns/v1/templates/12002/records/27565
  response:
    body:
      string: '{"data":{"id":27565},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/templates\/12002\/records\/27565"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
