interactions:
- request:
    body: '{"name": "zvvvmqgjkbjrsto.com", "default": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/templates
  response:
    body:
      string: '{"data":{"id":12013},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/templates\/12013"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/templates/12013?per_page=5&page=1
  response:
    body:
      string: '{"data":{"id":12013,"name":"zvvvmqgjkbjrsto.com","default":false,"created_at":"2021-01-25"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 12013, "name": "qwarnvwiqicfwb.com", "default": true, "created_at":
      "2021-01-25"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.ukfast.io/safedns/v1/templates/12013
  response:
    body:
      string: '{"data":{"id":12013},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/templates\/12013"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
